.changepassword-page {
   padding: 1rem 0;
}

.changepassword-container {
   width: 55%;
   max-width: 55%;
}

.password-btn {
   margin-left: 1rem;
   font-size: 1.2rem;
   padding: 0.8rem 3.5rem;
   border-radius: 32px;
   background: #1663be;
   box-shadow: 3px 6px 6px rgba(0, 0, 0, 0.16);
}
