.get-container {
   padding: 1.7rem 4.5rem;
}

.paragraph-fluid {
   padding: 0 4rem;
}

.paragraph-container {
   padding: 4.5rem 0rem 3rem 0;
   border-bottom: 1px solid rgba(112, 112, 112, 0.2);
}
